$primary-color: #171617 !default;
$primary-color-lighter: #2E2D2E !default;
$primary-color-light: #454445 !default;
$secondary-color: #ef59a0 !default;
$secondary-color-lighter: #F069A9 !default;
$third-color: #d7d7d7 !default;
$primary-font-family: "Playfair Display", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif !default;

$primary-bg-color: white;

$light-color: white;
